* {
    margin: 0;
    padding: 0;
}
body {
    padding: 2em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 244, 247);
}
h1 {
    padding-bottom: .5em;
    color: rgb(2, 8, 61);
}
button {
    border: 1px solid rgb(4, 15, 122);
    padding: .5em 1em;
    border-radius: 2em;
}
p {
    padding-top: 1em;
}